* {
    box-sizing: border-box;
    background: black;
}

body {
    margin-top: 50px;
}

.gallery-img {
    display: none;
    max-height: 600px;
}

.active {
    display: block;
}

.image-gallery {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    margin-bottom: 25px;
}

.btn {
    background-color: #FF00FF;
    color: white;
    font-size: 20px;
    padding: 20px 20px;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}

.prev {
    margin-right: 15px;
}

.btn:disabled {
    background-color: #666;
    cursor: not-allowed;
}
